* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    color: #333;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

h1{
    text-align: center;
    padding-top: 20px;
}

ul{
    padding:20px;
}

ol{
    padding:20px;
}

p{
    padding: 20px;
}

.images{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #dbe4ed; /* Border color is optional */
}
.form-page{
    text-align: center;
}
form{
    text-align:center;

}

@media only screen and  (max-width:600px) {
    body {
        text-align: center;
    }

    .images {
        height: 700px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px solid #dbe4ed; /* Border color is optional */
    }

    @media only screen and  (min-width: 320px) and (max-width: 480px) {
        body {
            text-align: center;
        }

        .images {
            height: 700px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 3px solid #dbe4ed; /* Border color is optional */
        }

        ol {
            list-style-type: none;
        }

        ul {
            list-style-type: none;
        }
    }
}